body {
  background-color: rgba(0, 0, 0, 0.815);
}

.form-row {
  padding-left: 20px;
  padding-right: 20px;
}

.form-group {
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  padding-left: 20px;
}

h1 {
  font-family: Heiti SC;
  padding-top: 0%;
  padding-left: 20px;
}

h2 {
  font-family: Heiti SC;
  padding-top: 5%;
  padding-left: 20px;
}
p {
  font-family: Heiti SC;
  padding-left: 20px;
}

.container-fluid {
  padding-bottom: 5%;
  background-color: whitesmoke;
}
